<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exppense Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Expense Amount</label>
              <input type="number" class="form-control" name="amount" id="amount" placeholder="Example : 1000" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Expense Description</label>
                <input type="text" class="form-control" name="desc" id="description" placeholder="Example : Swiggy" required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Category</label>
              <select class="form-control" id="category" name="category">
                <option value="1">Food</option>
                <option value="2">HouseHold</option>
                <option value="3">Transport</option>
              </select>
            </div>
            <div class="form-group">
                <input type="submit" class="form-control" id="exampleFormControlInput1">
            </div>
          </form>
    </div>
    <br><hr>
    <div class="container">
        <br><h1>List Of Expenses</h1><br>
    </div>
    <div class="container">
        <ul class="list-group">
          </ul>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Edit Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="editForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleFormControlInput1">Expense Amount</label>
                <input type="number" class="form-control" name="amount" id="newAmount" placeholder="Example : 1000" required>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1">Expense Description</label>
                  <input type="text" class="form-control" name="desc" id="newDescription" placeholder="Example : Swiggy" required>
                  <input type="hidden" class="form-control" name="id" id="id">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select Category</label>
                <select class="form-control" id="newCategory" name="category">
                  <option value="1">Food</option>
                  <option value="2">HouseHold</option>
                  <option value="3">Transport</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>