body {
  font-family: 'Roboto', sans-serif;
  background-color: #effeff;
}

#navigation {
  background: linear-gradient(45deg, #8fbbea, #6610f2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: #e3fd7d !important;
  padding-left: 2%;
  font-size: 25px;
}

.nav-link {
  color: #fff !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.topBtn {
  background-color: #f1eff6;
  color: rgb(13, 10, 10);
  border-radius: 50px;
  
 

}

.topBtn:hover {
  background-color: #007bff;
}

#form1 .input-group-text {
  background-color: #007bff;
  color: white;
}

#form1 .btn-outline-secondary {
  color: #007bff;
  border-color: #007bff;
}
#form-Container{
  background-color: rgb(225, 241, 246);
  height: 30%;
  border-radius: 8px;
  padding-top: 20px;
  margin-bottom: 5%;
}


#form1 .btn-outline-secondary:hover {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

#form1 .form-control {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


#submitBtn {
  background: linear-gradient(45deg, #28a745, #588f64);
  color: white;
  border-radius: 50px;
  transition: background 0.3s ease;
}

#submitBtn:hover {
  background: linear-gradient(45deg, #218838, #1e7e34);
}

.table {
  background-color: rgb(228, 245, 245);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.pagination .page-item .page-link {
  color: #007bff;
  border: none;
}

.pagination .page-item .page-link:hover {
  background-color: #007bff;
  color: rgb(85, 76, 156);
}


.btn-space {
  margin-right: 5px;
}
