body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9f5ff;
}

#navigation {
  background-color: rgb(80, 80, 80);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  margin: 1px 2px 0 2px;
}

.navbar-brand {
  font-weight: bold;
  color: #e3fd7d !important;
  padding-left: 1px;
  font-size: 25px;
}

.nav-link {
  color: #fff !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.topBtn {
  background-color: #f1eff6;
  color: rgb(13, 10, 10);
  border-radius: 5px;



}

.topBtn:hover {
  background-color: #007bff;
  color: white
}



#table {
  border-radius: 10px;
  background-color: #dcf8bd;
  background-image: linear-gradient(to bottom right, #c7e9fd, #5378a9);
  box-shadow: 4px 4px 9px #b8b8b8;
  margin-bottom: 3%;
}


.showBtn {
  width: 80px;
  background-color: #007bff;
  border-color: #293241;
  color: white;
}


#year-input {
  background-color: white;
  width: auto;
  border: 1px;
  border-radius: 7px;
  color: #293241;
  padding: 7px;
  margin: 7px -4px;
}


#category {
  width: 300px;
}

.input-group-text {
  background-color: #293241;
  color: white;
  border: none;
}

#description {
  width: 2000px;
}

.trStyle {
  background-color: transparent;
}

.showBtn:hover {
  background-color: #6884f6;
  color: white;

}

#dailyTotal,
#dailyTotalAmount,
#monthlyTotal,
#monthlyTotalAmount {
  font-weight: bolder !important;
}