@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}

.form-control.success {
    border-color: var(--succes-color);
}

.form-control.error {
    border-color: var(--error-color);    
}